spring:
  kafka:
    bootstrap-servers: localhost:9093
    consumer:
      group-id: ${spring.application.name}

      consumer:
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
        properties:
          schema.registry.url: http://localhost:8081
          specific.avro.reader: true
          spring.json.trusted.packages: "*"


