spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: inventory-service
              uri: lb://INVENTORY-SERVICE
              predicates:
                - Path=/api/v1/**
              filters:
                - StripPrefix=2

            - id: order-service
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/api/v1/**
              filters:
                - StripPrefix=2
                - AddRequestHeader=x-custom-header,nishant

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
